/* Overide the defaults in main.css */
:root {
  /* Colors */
  --color-code: #df0031;
  --color-black: #000400;
  --color-gray-medium: #c7c6c6;

  /* Fonts */
  --font-primary: 'Montserrat', sans-serif;
  --font-comic-neue: 'Comic Neue', cursive;
}

/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900 

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

/* .montserrat-regular {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-semibold {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
} */

body {
  background-color: var(--color-black);
  background-image: url(/img/rebel.png);
  background-repeat: repeat;
  /* background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px; */
  color: var(--color-white);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

main {
  margin-bottom: 5em;
}

.brand {
  text-transform: uppercase;
  color: var(--color-code);
  font-weight: 800;
}

.title {
  text-transform: uppercase;
  color: var(--color-code);
  font-weight: 400;
  letter-spacing: 0.6em;
}

header .brand {
  font-size: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

footer {
  margin-top: auto;
  border-top: 1px solid var(--color-code);
  background-color: var(--color-black);
}

footer .flex-row {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.75em;
}

footer .flex-row > * {
  flex: 0 0 auto;
  width: 100%;
}

footer nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: var(--spacing) 0;
}

footer nav li + li {
  padding-left: 0.5em;
}

footer nav li + li::before {
  content: '|';
  padding-right: 0.3em;
}

footer nav a {
  text-decoration: none;
  color: var(--color-white);
}

footer nav a:hover {
  color: var(--color-code);
}

footer p {
  margin: var(--spacing) 0;
}

/* 400px */
@media (min-width: 25em) {
  .nav-bret {
    width: 340px;
  }

  .top-left .tooltip {
    right: 50px;
  }

  .top-right .tooltip {
    left: 90px;
  }

  .bottom-left .tooltip {
    right: 100px;
  }

  .bottom-right .tooltip {
    left: 60px;
  }
}

/* 480px */
@media (min-width: 30em) {
}

/* 640px */
@media (min-width: 40em) {
}

/* 680px */
@media (min-width: 42.5em) {
  footer .flex-row > * {
    width: 50%;
  }
  footer .order-1 {
    order: 1 !important;
  }
  footer .order-2 {
    order: 2 !important;
  }
  footer nav {
    float: right;
  }
}

/* 960px */
@media (min-width: 60em) {
  header .brand {
    font-size: 3em;
  }
}

/* 1280px */
@media (min-width: 80em) {
}

/* 1400px */
@media (min-width: 87.5em) {
}

/* 1600px */
@media (min-width: 100em) {
}
