/* Overide the defaults in main.css */
:root {
  /* Colors */
  --color-code: #df0031;
  --color-black: #000400;
  --color-gray-medium: #c7c6c6;

  /* Fonts */
  --font-primary: 'Montserrat', sans-serif;
  --font-comic-neue: 'Comic Neue', cursive;
}

/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900 

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

/* .montserrat-regular {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-semibold {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
} */

body {
  background-color: var(--color-black);
  background-image: url(/img/rebel.png);
  background-repeat: repeat;
  color: var(--color-white);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

main {
  margin-bottom: 5em;
}

section {
  margin-bottom: 5em;
}

.btn {
  background-color: var(--color-white);
  color: var(--color-black);
}

.btn {
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  color: var(--color-black);
}
.btn,
.btn:focus,
.btn:visited {
  color: var(--color-black);
}
.btn:hover,
.btn:active {
  background-color: var(--color-code);
  border-color: var(--color-code);
  color: var(--color-white);
}

.brand {
  text-transform: uppercase;
  color: var(--color-code);
  font-weight: 800;
}

.title {
  text-transform: uppercase;
  color: var(--color-code);
  font-weight: 400;
  letter-spacing: 0.2em;
}

#bio-video {
  margin: 0.5em 0 2em;
  border: 5px solid white;
}

.navbar {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: center;
}

.navbar .brand {
  font-size: 0.75em;
  margin: 0;
  padding: 0;
  display: none;
}

.navbar ul {
  font-size: 0.75em;
  margin-bottom: 0;
}

.navbar a {
  text-decoration: none;
  color: var(--color-white);
}

.navbar a:hover {
  color: var(--color-code);
}

.navbar a.active {
  border-bottom: 1px solid var(--color-code);
}

header {
  margin-bottom: 2em;
}

footer {
  margin-top: auto;
  border-top: 1px solid var(--color-code);
}

footer .flex-row {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.75em;
}

footer .flex-row > * {
  flex: 0 0 auto;
  width: 100%;
}

footer nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: var(--spacing) 0;
}

footer nav li + li {
  padding-left: 0.5em;
}

footer nav li + li::before {
  content: '|';
  padding-right: 0.3em;
}

footer nav a {
  text-decoration: none;
  color: var(--color-white);
}

footer nav a:hover {
  color: var(--color-code);
}

footer p {
  margin: var(--spacing) 0;
}

/* 400px */
@media (min-width: 25em) {
}

/* 480px */
@media (min-width: 30em) {
  .title {
    letter-spacing: 0.6em;
  }

  .navbar {
    justify-content: space-between;
  }

  .navbar .brand {
    display: inline-block;
  }
}

/* 640px */
@media (min-width: 40em) {
  .navbar .brand {
    font-size: 1.2em;
  }

  .navbar ul {
    font-size: 1em;
  }
}

/* 680px */
@media (min-width: 42.5em) {
  footer .flex-row > * {
    width: 50%;
  }

  footer .order-1 {
    order: 1 !important;
  }

  footer .order-2 {
    order: 2 !important;
  }

  footer nav {
    float: right;
  }
}

/* 768px */
@media (min-width: 48em) {
  header {
    margin-bottom: 5em;
  }

  .navbar .brand {
    font-size: 1.5em;
  }

  #bio-video {
    width: 350px;
    margin: 0.5em 0 3em 3em;
    float: right;
  }

  #bio-video ~ p:nth-of-type(-n + 3) {
    text-align: justify;
  }
}

/* 960px */
@media (min-width: 60em) {
  #bio-video {
    width: 450px;
  }
}

/* 1280px */
@media (min-width: 80em) {
}

/* 1400px */
@media (min-width: 87.5em) {
}

/* 1600px */
@media (min-width: 100em) {
}
